name: "Installation"
on:
  push:
    branches:
      - main

jobs:
  install:
    name: "Install latest"
    runs-on: ubuntu-latest
    steps:
      - name: Import gpg key(s) defined in vars.PUBLIC_GPG_KEYS_WE_TRUST and secrets.PUBLIC_GPG_KEYS_WE_TRUST
        run: |
          gpg --import - <<< "${{ vars.PUBLIC_GPG_KEYS_WE_TRUST }}" && success=true \
            || (echo "could not import GPG keys via vars.PUBLIC_GPG_KEYS_WE_TRUST -- maybe it's not defined"; exit 1) && \
          false || gpg --import - <<< "${{ secrets.PUBLIC_GPG_KEYS_WE_TRUST }}" && success=true \
            || (echo "could not import GPG keys via secrets.PUBLIC_GPG_KEYS_WE_TRUST -- maybe it's not defined"; exit 1) && \
          false || "${success:-false}" && echo "was able to import GPGs either via vars or secrets (or via both -- see above)"
      - uses: actions/checkout@v4
      - name: Check it works
        run: |
          tmpDir=$(mktemp -d -t gt-download-install-XXXXXXXXXX)
          mkdir -p "$tmpDir"
          currentDir=$(pwd)
          cd "$tmpDir"
          "$currentDir/install.sh"
      - name: run self-update
        run: gt self-update --force true

  installDoc:
    name: "Install.doc.sh latest"
    runs-on: ubuntu-latest
    steps:
      - name: Import gpg key(s) defined in vars.PUBLIC_GPG_KEYS_WE_TRUST and secrets.PUBLIC_GPG_KEYS_WE_TRUST
        run: |
          gpg --import - <<< "${{ vars.PUBLIC_GPG_KEYS_WE_TRUST }}" && success=true \
            || (echo "could not import GPG keys via vars.PUBLIC_GPG_KEYS_WE_TRUST -- maybe it's not defined"; exit 1) && \
          false || gpg --import - <<< "${{ secrets.PUBLIC_GPG_KEYS_WE_TRUST }}" && success=true \
            || (echo "could not import GPG keys via secrets.PUBLIC_GPG_KEYS_WE_TRUST -- maybe it's not defined"; exit 1) && \
          false || "${success:-false}" && echo "was able to import GPGs either via vars or secrets (or via both -- see above)"
      - uses: actions/checkout@v4
      - name: Check it works
        run: ./install.doc.sh
      - name: run self-update
        run: gt self-update --force true

  installOld:
    name: "Install old version, self-update to latest"
    strategy:
      matrix:
        tag: [v0.10.2]
    runs-on: ubuntu-latest
    steps:
      - name: Import gpg key(s) defined in vars.PUBLIC_GPG_KEYS_WE_TRUST and secrets.PUBLIC_GPG_KEYS_WE_TRUST
        run: |
          gpg --import - <<< "${{ vars.PUBLIC_GPG_KEYS_WE_TRUST }}" && success=true \
            || (echo "could not import GPG keys via vars.PUBLIC_GPG_KEYS_WE_TRUST -- maybe it's not defined"; exit 1) && \
          false || gpg --import - <<< "${{ secrets.PUBLIC_GPG_KEYS_WE_TRUST }}" && success=true \
            || (echo "could not import GPG keys via secrets.PUBLIC_GPG_KEYS_WE_TRUST -- maybe it's not defined"; exit 1) && \
          false || "${success:-false}" && echo "was able to import GPGs either via vars or secrets (or via both -- see above)"
      - uses: actions/checkout@v4
      - name: install ${{ matrix.tag }}
        run: |
          tmpDir=$(mktemp -d -t gt-download-install-XXXXXXXXXX)
          mkdir -p "$tmpDir"
          currentDir=$(pwd)
          cd "$tmpDir"
          "$currentDir/install.sh" -t ${{ matrix.tag }}
      - name: run self-update
        run: gt self-update --force true
